#	jogar o arquivo .bit da pasta dentro da placa
#	GENERATE PROMRAMMING FILE\PROPERTIES\STARTUO\FPGA clock = JTAG CLOCK
#	ENTRADA 1 DE 3 BITS 
net ent1(2) loc = F3;	#SW5
net ent1(1) loc = G3;	#SW4
net ent1(0) loc = B4;	#SW3
#	ENTRADA 1 DE 3 BITS 
net ent2(2) loc = K3;	#SW2
net ent2(1) loc = L3;	#SW1
net ent2(0) loc = P11;	#SW0
#	QUOCIENTE
net sai1(2) loc = G1;	#LD7
net sai1(1) loc = P4;	#LD6
net sai1(0) loc = N4;	#LD5
#	RESTO
net sai2(2) loc = N5;	#LD4
net sai2(1) loc = P6;	#LD3
net sai2(0) loc = P7;	#LD2