[submodule "Algorithms_and_Data_Structures"]
	path = Algorithms_and_Data_Structures
	url = git@github.com:whoiswelliton/Algorithms_and_Data_Structures.git
[submodule "Programming_Fundamentals"]
	path = Programming_Fundamentals
	url = git@github.com:whoiswelliton/Programming_Fundamentals.git
[submodule "Compilers"]
	path = Compilers
	url = git@github.com:whoiswelliton/Compilers.git
[submodule "Computer_Networks"]
	path = Computer_Networks
	url = git@github.com:whoiswelliton/Computer_Networks.git
[submodule "Electronics"]
	path = Electronics
	url = git@github.com:whoiswelliton/Electronics.git
[submodule "Electronics_and_Instrumentation"]
	path = Electronics_and_Instrumentation
	url = git@github.com:whoiswelliton/Electronics_and_Instrumentation.git
[submodule "Object-Oriented_Programming"]
	path = Object-Oriented_Programming
	url = git@github.com:whoiswelliton/Object-Oriented_Programming.git
[submodule "Digital_Circuits_and_Systems"]
	path = Digital_Circuits_and_Systems
	url = git@github.com:whoiswelliton/Digital_Circuits_and_Systems.git
[submodule "Reconfigurable_Logic"]
	path = Reconfigurable_Logic
	url = git@github.com:whoiswelliton/Reconfigurable_Logic.git
[submodule "Computer_Security"]
	path = Computer_Security
	url = git@github.com:whoiswelliton/Computer_Security.git
[submodule "Distributed_Systems"]
	path = Distributed_Systems
	url = git@github.com:whoiswelliton/Distributed_Systems.git
