#	jogar o arquivo .bit da pasta dentro da placa
#	GENERATE PROMRAMMING FILE\PROPERTIES\STARTUO\FPGA clock = JTAG CLOCK
#	ENTRADA 1 DE 4 BITS 
net entrada(3) loc = G3;	#SW4
net entrada(2) loc = B4;	#SW3
net entrada(1) loc = K3;	#SW2
net entrada(0) loc = L3;	#SW1
#	ENTRADA deslocamento sentido dir \ esq shift
net shift loc = N3;	#SW7
#	ENTRADA numero de shift
net num_shift(1) loc = E2;	#SW6
net num_shift(0) loc = F3;	#SW5
#	SAIDA
net saida(3) loc = G1;	#LD7
net saida(2) loc = P4;	#LD6
net saida(1) loc = N4;	#LD5
net saida(0) loc = N5;	#LD4