//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 23 19:54:12 2019
//! **************************************************************************

SCHEMATIC START;
COMP "ent1<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "sai1<0>" LOCATE = SITE "N4" LEVEL 1;
COMP "ent1<1>" LOCATE = SITE "G3" LEVEL 1;
COMP "sai1<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "ent1<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "sai1<2>" LOCATE = SITE "G1" LEVEL 1;
COMP "ent2<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "sai2<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "ent2<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "sai2<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "ent2<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sai2<2>" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

