//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 23 20:10:32 2019
//! **************************************************************************

SCHEMATIC START;
COMP "saida<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "num_shift<0>" LOCATE = SITE "F3" LEVEL 1;
COMP "entrada<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "num_shift<1>" LOCATE = SITE "E2" LEVEL 1;
COMP "entrada<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "entrada<2>" LOCATE = SITE "B4" LEVEL 1;
COMP "entrada<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "saida<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "saida<3>" LOCATE = SITE "G1" LEVEL 1;
COMP "shift" LOCATE = SITE "N3" LEVEL 1;
COMP "saida<0>" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

